.flexcomment{
	display:flex;
	justify-content:center;
	margin-top:5px;
}
.commentcontainer{
	width:100%;
	border-bottom:1px solid lightgrey;
}
.postflex{
	display:flex;
	justify-content:center;
}
.post-and-comment-box{
	width:30%;
}
.userandpost{
	border:1px solid black;
	margin-bottom:20px;
}
.edit_post{
	width:97%;
	margin-bottom:5px;
}
.edit_post_submit{
	float:right;
	margin-top:5px;
}
.post-user-name{
	font-size:18px;
	background-color:$userNameColor;
}
.post-user-content{
	font-size:20px;
}
.allcomments{
	width:30%;
	border-top:1px solid lightgrey;
	border-left:1px solid lightgrey;
	border-right:1px solid lightgrey;
}
.commentnamecolor{
	background-color:$comment-name-color;
}
.flexcommentinput{
	margin-top:5px;
	display:flex;
	justify-content:center;
}
.commentinput{
	width:81%;

}
.commentform{
	width:30%;

}
.comment-content{
	overflow:hidden;
}