$post-font:'PT Sans Narrow', sans-serif;
$userNameColor:#e9faff;
$comment-name-color:#d4ffea;
@import 'profile';
@import 'search';
@import 'edit-profile';
@import 'wall';
@import 'nav';
@import 'post';
body{
  margin:0;
  padding:0;
  
}
