$post-font:'PT Sans Narrow', sans-serif;
@import 'profile';
@import 'search';
@import 'edit-profile';
@import 'wall';
@import 'nav';
@import 'post';
body{
  margin:0;
}
.hero-img{
    background-image: url('/images/hero.jpg');
    background-size: cover;
    height: 500px;
    width: 100vw;
}
.login-container{
    display: flex;
    justify-content: center;
}
.login{
    padding-left: 30px;
}
