<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <title></title>
    </head>
    <body>



        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/friend_requests">Friend Requests</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>

        <div class="yield"><%= yield %></div>



        <script type="text/javascript" src="/js/scripts.js">
        </script>
    </body>
</html>
