<h1>Login Page</h1>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit">
</form>
<form  action="/sign_up" method="get">
  <input type="submit" value="Sign up">
</form>
