<%if @posts.length>=10%>
<%@posts=@posts.last(10)%>
<%end%>
<%@posts.reverse_each do |post|%>
<div class="wall-flex">
  <div class="wall-content">
  	<a class="wall-user" href="/friend_profile/<%=post.user_id%>">
  	<%=User.find(post.user_id).name%>
  		
  	</a>
    <div class="post-content"><%=post.content%></div>
    <div class="wall-comment">
      <a href='/post/<%=post.id%>'>Comment</a>
    </div>
  </div>
</div>

<%end%>


