.hero-img {
  background-image: url("/images/hero.jpg");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100vw; }

.login-container {
  display: flex;
  justify-content: center;
  margin-top: 24vh; }

.login {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  text-align: center; }

.login h1 {
  text-shadow: 2px 2px black;
  color: lightgrey; }

.login form {
  margin: 20px 0; }

.login form input {
  font-size: 16px; }

.login form .btn {
  font-size: 20px; }

.post-title {
  background-color: #e9faff; }

.post-content {
  background-color: white; }

.post {
  width: 100%;
  border: 1px solid lightgrey;
  margin: 5px 0px 5px 0px; }

.profile-flex {
  display: flex;
  justify-content: center; }

.profile-div {
  width: 30%;
  min-width: 300px; }

.profile-friends {
  position: absolute;
  top: 200px;
  left: 40px; }

.search-container {
  display: flex;
  justify-content: center; }

.user-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid black; }

.edit-profile-container {
  display: flex;
  justify-content: center; }

.profile-row {
  display: flex;
  justify-content: flex-start;
  margin: 30px; }

.profile-info {
  width: 200px;
  margin: 0; }

.profile-input {
  height: 1.5em; }

.profile-row label {
  width: 110px;
  font-size: 20px; }

.updateProfileBtn {
  width: 100%;
  max-width: 520px;
  height: 3em;
  font-size: 20px; }

.wall-content {
  width: 30%;
  border: 1px solid lightgrey;
  background-color: white;
  margin-bottom: 10px; }

.wall-user {
  background-color: #e9faff; }

.wall-flex {
  display: flex;
  justify-content: center; }

.wall-comment {
  display: flex;
  justify-content: flex-end;
  background-color: #f8f9fb; }

.wall-comment a {
  font-size: 12px;
  padding-right: 5px;
  color: grey; }

.post-content {
  padding: 5px 5px 5px 5px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px; }

nav {
  width: 100%; }

ul {
  width: 100%;
  padding-left: 0;
  list-style: none;
  margin: 0; }

.navbar {
  background-color: #568c5e;
  padding-top: 16px;
  margin-bottom: 40px; }

a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Arial";
  color: black; }

.nav-flex {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  padding-bottom: 10px; }

.flexcomment {
  display: flex;
  justify-content: center;
  margin-top: 5px; }

.commentcontainer {
  width: 100%;
  border-bottom: 1px solid lightgrey; }

.postflex {
  display: flex;
  justify-content: center; }

.post-and-comment-box {
  width: 30%; }

.userandpost {
  border: 1px solid black;
  margin-bottom: 20px; }

.post-user-name {
  font-size: 18px;
  background-color: #e9faff; }

.post-user-content {
  font-size: 20px; }

.allcomments {
  width: 30%;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey; }

.commentnamecolor {
  background-color: #d4ffea; }

.flexcommentinput {
  margin-top: 5px;
  display: flex;
  justify-content: center; }

.commentinput {
  width: 81%; }

.commentform {
  width: 30%; }

.comment-content {
  overflow: hidden; }

body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=styles.css.map */
